Thumbs.db
*.obj
bin/*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Bb]in/[Dd]ebug*/
/**/Lib/[Dd]ebug*/
*Setup/[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
!Release
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.orig
FoneTrak/Documents/
.svn/
.vs/
Fonetrak.NPOI/solution/Lib/NPOI*
Fonebox.ReportingPlatform.UI/node_modules*
Fonebox.ReportingPlatform.UI/Scripts/systemjs.config.js
Fonebox.ReportingPlatform.UI/Scripts/systemjs.config.js.map
Fonebox.ReportingPlatform.UI/Scripts/app/**/*.map
Fonebox.ReportingPlatform.UI/Scripts/app/**/*.js
Fonebox.ReportingPlatform.UI/Scripts/reporting-framework/**/*.map
Fonebox.ReportingPlatform.UI/Scripts/reporting-framework/**/*.js
Fonebox.ReportingPlatform.UI/dist/
*.DotSettings
*.exclude
!Sitefinity/**/bin
SipekSdk.dll
artifacts/**
node_modules

Fonebox\.ReportingPlatform\.UI/Scripts/polyfills\.js

Fonebox\.ReportingPlatform\.UI/App_Data/XmlDocument\.xml

Fonebox\.ReportingPlatform\.UI/Scripts/material-design/module\.js


